@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;900&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: rgb(1 1 11);
    color: goldenrod;
    font-family: Inter, sans-serif;
}

.card-track {
    display: flex;
    margin: auto;
    padding: 3rem;
    overflow-x: scroll;
    max-width: 50%;
}

/** The pseudoelement below is an attempt at shadiwing out the edges of the track */
.card-track::after {
    position: relative;
    content: none;
    background-color: transparent;
    box-shadow: -3rem 0 3rem white;
    z-index: 1;
}


.card-track::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.card-track::-webkit-scrollbar-thumb {
    background-color: rgb(14 15 17);
    border-radius: 10px;
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: rgb(14 15 17);
    height: 16rem;
    min-width: 11rem;
    overflow: hidden;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: -1rem 0 3rem black;
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-0.5rem);
}

.card:not(:first-child) {
    margin-left: -3rem;
}

.card:hover~.card {
    transform: translateX(3rem);
}

.image {
    flex: 1;
}